# langchain
# langchain-core
# langchain-community
# langchain-text-splitters
# # langchain-schema
# #langchain.document_loaders
# pypdf
# pymupdf
# sentence-transformers
# faiss-cpu
# chromadb
# hf_xet
# langchain-azure-ai
# python-dotenv
# openai
# langchain-openai

# Core LLM and Azure Integration
openai==1.35.12
python-dotenv==1.0.1

# LangChain Stable Series (compatible!)
langchain==0.2.12
langchain-core==0.2.27
langchain-community==0.2.11
# langchain-openai==0.1.7
langchain-azure-ai==1.0.4
langchain-text-splitters==0.2.1

# Vector DB Support
faiss-cpu==1.8.0
chromadb==0.4.24

# Embeddings (optional)
sentence-transformers==2.7.0

# PDF / Doc Support
pypdf==4.2.0
pymupdf==1.24.5





